* {
font-family: sans-serif, "Roboto";
margin: 0px;
}

.heading {
    background-color: rgba(165, 101, 42, 0.59);
    color: #e8d6af;
    display: flex;
    padding-top: 20px;
    gap: 310px;
    align-items: center;
    justify-content: center;
}
.logo {
    font-size: 20px;
}

ul {
    font-size: 15px;
    font-weight: lighter;
    display: flex;
    gap: 20px;
    padding-top: 5px;
}

.top_container{
    background-color:rgba(165, 101, 42, 0.59);
    display: flex;
    padding: 80px;
    justify-content: space-evenly;
}
.small-container{
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.statement{
    font-size: 28px;
    font-weight: 300;
    color:whitesmoke;
}
.small_statement {
    font-size: 15px;
    font-weight: 250;
    color:floralwhite
}

.button_1 {
    background-color: rgba(119, 79, 0, 0.92);
    color: white;
    font-weight: 500;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    max-width: 100px;
}


.container_three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px;
    color: rgb(176, 130, 69);
}

.karate {
    width: 400px;
    height: auto;
}

.subheader {
    font-size: 24px;
    padding-bottom: 20px;
}

.information {
    display: flex;
    gap: 30px;
}

.info {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    font-weight: 400;
    
}
.subtext {
    font-size: 10px;
    font-weight: 200;
    text-align: center;
    padding-top: 6px;
}

.ufc {
    border: solid 5px #e8d6af;
    border-radius: 6px;
}

.quote {
    background-color:rgba(165, 101, 42, 0.456) ;
    color: white;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center

}

.yoel {
    width: 500px;
    max-height: 350px;
    font-size: 25px;
    font-weight: 100;
    font-style: italic;
}
.credit {
    padding-top: 10px;
}

.container_four {
    background-color:white;
    display: flex;
    justify-content: center;
    padding: 60px;

}
.adbox {
    background-color: rgba(224, 201, 179, 0.873) ;
    padding: 30px 100px;
    border-radius: 5px;
    text-align: left;
    display: flex;
    gap: 200px;
}

.ad {
    color: white;
    font-weight: 600;
}

.adbody {
    color: white;
    font-weight: 300;
}

.ad_text {
    display: flex;
    flex-direction: column;
}

.signup {
    background-color: transparent;
    padding: 5px 20px;
    max-width: 100px;
    border:white solid 2px;
    color: white;
    border-radius: 5px;
}