* {
font-family: sans-serif, "Roboto";
margin: 0;
}

.heading {
    background-color: rgba(165, 101, 42, 0.59);
    color: #e8d6af;
    display: flex;
    padding-top: 20px;
    gap: 310px;
    align-items: center;
    justify-content: center;
}
.logo {
    font-size: 20px;
}

ul {
    font-size: 15px;
    font-weight: lighter;
    display: flex;
    gap: 20px;
    padding-top: 5px;
}

.top_container{
    background-color:rgba(165, 101, 42, 0.59);
    display: flex;
    padding: 80px;
    justify-content: space-evenly;
}
.small-container{
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.statement{
    font-size: 28px;
    font-weight: 300;
    color:whitesmoke;
}
.small_statement {
    font-size: 15px;
    font-weight: 250;
    color:floralwhite
}

button {
    background-color: rgba(119, 79, 0, 0.92);
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 100px;

}
img {
    width: 400px;
    height: auto;
}
